@charset "UTF-8";

@import './_config.scss';

@import url('#{$path}fonts.css');
@import url('#{$path}reset.css');
@import url('#{$path}header.css');
@import url('#{$path}footer.css');
@import url('#{$path}quick_menu.css');

#wrap{
    width: 100%;
    #main{
        width: 100%;
        #section1{
            width: 100%;
            margin-top: 70px;
            .page-head{
                width: 100%;
                text-align: center;
                margin-bottom: 30px;
                margin-left: -45px;
                display: flex;
                align-items: center;
                justify-content: center;
                button{
                    color: #333;
                    font-size: 18px;
                    padding-left: 30px;
                    background:none;
                    border: 0;
                    position: relative;
                    cursor: pointer;
                    &::before{
                        content: '◀';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        margin-top: -13px;
                    }
                }
                strong{

                    margin: 0 45px;
                    color: #333;
                    font-weight: 600;
                    font-size: 30px;
                }
            }
            .banner{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
        #section2{
            width: 100%;
            .container{
                width: 860px;
                margin: 0 auto;
                .sub-banner{
                    margin-top: 120px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    a{
                        display: block;
                        width: 420px;
                        height: 210px;
                        img{
                            width: 100%;
                        }
                    }
                }
                .template-box{
                    width: 100%;
                    .template-list{
                        width: 100%;
                        > li{
                            margin-top: 80px;
                            height: 518px;
                            .img-box{
                                width: 100%;
                                height: 340px;
                                overflow: hidden;
                                img{
                                    margin-top: -80px;
                                    width: 100%;
                                }
                            }
                            .content-box{
                                width: 100%;
                                height: 168px;
                                padding-top: 20px;
                                display: flex;
                                .left{
                                    width: 50%;
                                    h2{
                                        font-size: 24px;
                                        color: #333;
                                    }
                                    .text{
                                        padding-top: 15px;
                                        font-size: 16px;
                                        color: #999;
                                        font-weight: 500;
                                        line-height: 25px;
                                        em{
                                            padding: 20px;
                                        }
                                    }
                                }
                                .right{
                                    width: 50%;
                                    > ul{
                                        width: 100%;
                                        display: flex;
                                        justify-content: flex-end;
                                        > li{
                                            width: 145px;
                                            height: 158px;
                                            padding: 0 7.5px;
                                            &:nth-child(3){
                                                padding-right: 0;
                                            }
                                            a{
                                                display: flex;
                                                flex-flow: column;
                                                justify-content: space-between;
                                                width: 100%;
                                                height: 100%;
                                                img{
                                                    width: 100%;
                                                    height: 130px;
                                                }
                                                span{
                                                    padding: 10px 0 0 0;
                                                    color: #333;
                                                    strong{
                                                        font-size: 18px;
                                                        font-weight: 600;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #section3{
            width: 100%;
            margin-top: 90px;
            .container{
                width: 860px;
                margin: 0 auto;
                .author-area{
                    width: 100%;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 2px solid #333;
                    .icon-bg{
                        width: 44px;
                        height: 44px;
                        border-radius: 50%;
                        background-color: #333;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    p{
                        padding-top: 30px;
                        color: #333;
                        font-size: 24px;
                        text-align: center;
                        line-height: 34px;
                    }
                    .md{
                        padding-top: 20px;
                        width: 100%;
                        height: 40px;
                        text-align: center;
                        margin-bottom: 60px;
                        font-size: 17px;
                        color: #666;
                        img{
                            width: 38px;
                            height: 38px;
                            border-radius: 50%;
                            margin-right: 20px;
                        }
                    }
                }
                .questions-box{
                    padding-top: 20px;
                    width: 100%;
                    .title{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        > em{
                            font-size: 20px;
                            color: #333;
                        }
                        > span{
                            padding-top: 5px;
                            font-size: 14px;
                            color: #333;
                        }
                    }
                    .comment-box{
                        margin-top: 10px;
                        width: 100%;
                        height: 122px;
                        background: rgba(238, 238, 238, 0.9);
                        position: relative;
                        .gap{
                            width: 100%;
                            height: 100%;
                            padding: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .center-message{
                                display: flex;
                                flex-flow: column;
                                align-items: center;
                                justify-content: center;
                                a{
                                    font-weight: 500;
                                    font-size: 16px;
                                    text-decoration: underline;
                                    padding-bottom: 5px;
                                }
                                > span{
    
                                }
                            }
                        }
                        button{
                            position: absolute;
                            right: 15px;
                            top: 15px;
                            color: #fff;
                            font-size: 14px;
                            font-weight: 500;
                            border: 0;
                            width: 122px;
                            height: 92px;
                            background: rgba(153, 153, 153, 0.2);
                        }
                    }
                    .comment-list{
                        width: 100%;
                        padding-top: 20px;
                        display: flex;
                        >em{
                            width: 115px;
                            height: 50px;
                        }
                        .text{
                            width: 735px;
                            height: 215px;
                            background: rgba(245, 245, 245, 0.9);
                            .col-gap{
                                padding: 15px 15px 15px 50px;
                                .row1{
                                    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 20px;
                                    > h2{
                                        
                                    }
                                    >em{

                                    }
                                }
                                .row2{
                                    width: 100%;
                                    margin-bottom: 5px;
                                    em{
                                        color: #333;
                                        padding-left: 10px;
                                        position: relative;
                                        &::before{
                                            content: url(../img/bg_admin_text.png);
                                            position: absolute;
                                            top: 50%;
                                            left: 0;
                                            margin-top: -3px;
                                            margin-left: -5px;
                                        }
                                    }
                                }
                                .text-box{ 
                                    padding-left: 10px;
                                    line-height: 20px;
                                    font-size: 13px;
                                    color: #666;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}