@import url("../../../css/fonts.css");
@import url("../../../css/reset.css");
@import url("../../../css/header.css");
@import url("../../../css/footer.css");
@import url("../../../css/quick_menu.css");
#wrap {
  width: 100%;
}
#wrap #main {
  width: 100%;
}
#wrap #main #section1 {
  margin-top: 70px;
  width: 100%;
}
#wrap #main #section1 .container {
  width: 1100px;
  margin: 0 auto;
}
#wrap #main #section1 .container .banner {
  width: 100%;
}
#wrap #main #section1 .container .banner a {
  display: block;
  width: 100%;
  height: 380px;
}
#wrap #main #section1 .container .banner a img {
  width: 100%;
  height: 100%;
}
#wrap #main #section2 {
  width: 100%;
  margin-top: 70px;
}
#wrap #main #section2 .container {
  width: 1100px;
  margin: 0 auto;
}
#wrap #main #section2 .container .title {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}
#wrap #main #section2 .container .title h2 {
  color: #333;
  font-size: 28px;
}
#wrap #main #section2 .container .slide-container {
  width: 100%;
  height: 362px;
  position: relative;
  border: 1px solid #e6e6e6;
  padding: 30px 50px 45px 50px;
}
#wrap #main #section2 .container .slide-container .slide-view {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap {
  position: relative;
  width: 2020px;
  display: flex;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li {
  width: 183.59px;
  margin-right: 20px;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li:last-child {
  margin: 0;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap {
  width: 100%;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap > a {
  display: block;
  width: 100%;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap > a > img {
  width: 180px;
  height: 180px;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap .content {
  width: 100%;
  height: 95px;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap .content > .row1 {
  padding-top: 10px;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap .content > .row1 img {
  width: 64px;
  height: 12px;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap .content > .row1 span {
  font-size: 13px;
  height: 100%;
  display: block;
  position: relative;
  color: #999;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap .content > .row1 span > i {
  padding-right: 2px;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap .content > .row1 span > i > img {
  width: 12px;
  height: 12px;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap .content > .row1 span em {
  color: #666;
  font-weight: 500;
  padding-right: 5px;
  position: relative;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap .content .row2 {
  padding-top: 8px;
  width: 100%;
  height: 44px;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap .content .row2 a {
  display: block;
  width: 100%;
  height: 100%;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap .content .row2 a h2 {
  font-size: 15px;
  color: #666;
  word-break: break-all;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap .content .row3 {
  padding-bottom: 5px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap .content .row3 strong em {
  font-size: 18px;
  color: #333;
  font-weight: 700;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap .content .row3 > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 32px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50px;
  vertical-align: baseline;
}
#wrap #main #section2 .container .slide-container .slide-view .slide-wrap > li .gap .content .row3 > a > img {
  width: 18px;
  height: 15px;
}
#wrap #main #section2 .container .slide-container .prev-btn {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: -15px;
  background-color: #ddd;
}
#wrap #main #section2 .container .slide-container .prev-btn img {
  width: 50%;
}
#wrap #main #section2 .container .slide-container .prev-btn.on {
  opacity: 0.5;
}
#wrap #main #section2 .container .slide-container .next-btn {
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ddd;
  margin-top: -18px;
  transform: rotate(180deg);
}
#wrap #main #section2 .container .slide-container .next-btn img {
  width: 50%;
}
#wrap #main #section2 .container .slide-container .next-btn.on {
  opacity: 0.5;
}