@charset "UTF-8";

@import './_config.scss';

@import url('#{$path}fonts.css');
@import url('#{$path}reset.css');
@import url('#{$path}header.css');
@import url('#{$path}footer.css');
@import url('#{$path}quick_menu.css');

#wrap{
    width: 100%;
    #main{
        width: 100%;
        #section1{
            width: 100%;
            .container{
                width: 1100px;
                margin: 0 auto;
                .cate-menu{
                    width: 100%;
                    margin-top: 50px;
                    ul{
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        li{
                            width: 25%;
                            height: 45px;
                            border: 1px solid #ccc;
                            border-right: 0;
                            &:nth-child(1){border-bottom: 0;}
                            &:nth-child(2){border-bottom: 0;}
                            &:nth-child(3){border-bottom: 0;}
                            &:nth-child(4){border-right: 1px solid #ccc; border-bottom: 0;}
                            &:nth-child(8){border-right: 1px solid #ccc;}
                            a{
                                display: flex;
                                align-items: center;
                                padding-left: 15px;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
        #section2{
            width: 100%;
            .container{
                width: 1100px;
                margin: 0 auto;
                .banner{
                    margin-top: 30px;
                    width: 100%;
                    height: 200px;
                    img{
                        width: 100%;
                    }
                }
                .item-box{
                    margin-top: 30px;
                    width: 100%;
                    ul {
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        li {
                            width:256px;
                            height: 411px;
                            margin-top: 50px;
                            a{
                                display: block;
                                width: 100%;
                                height: 100%;
                                .img-box{
                                    width: 256px;
                                    height: 256px;
                                    img{
                                        width: 256px;
                                        border-radius: 10px;
                                    }
                                }
                                .text-box{
                                    .row1{
                                        margin: 10px 0;
                                        width: 100%;
                                        height: 11px;
                                        display: flex;
                                        justify-content: space-between;
                                        img{
                                            height: 100%;
                                        }
                                        span{
                                            font-size: 13px;
                                            color: #666;
                                            img{
                                                margin-right: 2px;
                                                width: 12px;
                                            }
                                            em{
                                                margin-left: 2px;
                                                color: #999;
                                            }
                                        }
                                    }
                                    .row2{
                                        height: 44px;
                                        h2{
                                            font-size: 14px;
                                            color: #333;
                                            line-height: 22px;
                                        }
                                    }
                                    .row3{
                                        width: 100%;
                                        display: flex;
                                        > strong{
                                            color: rgb(241, 82, 32);
                                            font-size: 18px;
                                            font-weight: bold;
                                        }
                                        .price{
                                            margin-left: 5px;
                                            em{ 
                                                vertical-align: bottom;
                                                color: #333;
                                                font-weight: 700;
                                                font-size: 18px;
                                            }
                                        }
                                    }
                                    .origin{
                                        display: block;
                                        width: 100%;
                                        padding: 12px 0 0 0;
                                        font-size: 13px;
                                        color: #999;
                                        text-decoration: line-through;
                                    }
                                    .unit-price{
                                        font-size: 11px;
                                        color: #888;
                                        margin-top: 3px;
                                    }
                                }
                            }
                          }
                     }
                }
            }
        }
    }
}